$black: rgb(0, 0, 0);
$text: #212529;
$text-gray: #777777;
$nav: #fff;
$nav-item: #0056b3;
$primary-color: #4458dc;
$primary-color2: #854fee;
$gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
$box-shadow: 11px 10px 60px -10px rgba(0, 0, 0, 0.62);
