@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: roboto;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 80%;
}

section {
  width: 85%;
  margin: 6em auto 6em;
}

.button-primary {
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid #4458dc;
  background-color: #854fee;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  margin: auto 1em auto auto;
}

.button-primary:hover {
  color: black;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button-secondary {
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid #4458dc;
  background-color: white;
  color: black;
  padding: 10px 30px;
  border-radius: 5px;
  margin: auto 1em auto auto;
}

.button-secondary:hover {
  color: white;
  background-color: #854fee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
}

.burger-menu {
  width: 50px;
  height: 40px;
  position: relative;
  top: -35px;
  left: 87%;
  z-index: 2;
  border-radius: 5px;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.burger-menu .bars {
  width: 23px;
  height: 2px;
  border-radius: 3px;
  background-color: gray;
  position: relative;
  top: 50%;
  margin: auto;
}

.burger-menu .bars::after,
.burger-menu .bars::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 2px;
  border-radius: 3px;
  background-color: gray;
  margin: auto;
}

.burger-menu .bars::before {
  top: -7px;
}

.burger-menu .bars::after {
  top: 7px;
}

.logo-link {
  margin: 20px 0 0 90px;
}

.logo-image {
  width: 139px;
  height: 35px;
  background-image: url("../images/logo.png");
}

.nav-list {
  list-style-type: none;
  display: none;
}

.nav-item {
  margin: 25px 0 0 40px;
}

.nav-item-link {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.nav-item-link:hover {
  color: #0056b3;
}

.add-shadow {
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

@media (min-width: 990px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
  .burger-menu {
    display: none;
  }
  .logo-link {
    margin: 0 0 0 100px;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 50px 0 0;
    width: auto;
    padding: 0;
  }
  .nav-item {
    margin: 0 0 0 50px;
  }
}

.cta-section {
  margin: 14em auto auto;
  color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.greeting {
  font-size: 3em;
  position: relative;
  z-index: -1;
}

.greeting::after {
  content: "";
  position: absolute;
  left: 105px;
  top: 35px;
  width: 25%;
  height: 2px;
  background-color: #212529;
}

.name {
  text-transform: uppercase;
  font-size: 5rem;
  margin: 1rem auto 1.5rem;
  line-height: 0.9;
}

.job-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1rem auto 1.5rem;
}

.introduction-image {
  width: 90%;
  margin: 7em auto 0;
}

.about-us-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0;
}

.about-us-image {
  width: 95%;
  margin: 7em auto 2em;
}

.about-us-box h1 {
  color: #212529;
  text-transform: uppercase;
  font-size: 31px;
  letter-spacing: 10px;
  line-height: 2;
  margin: auto auto 1.5em;
}

.about-us-box p {
  margin: auto 0 2em;
  font-weight: 500;
  color: #777777;
  font-size: 16px;
  line-height: 1.5;
  width: 70%;
}

.about-us-box p:nth-child(3) {
  margin: auto 0 4em;
}

.grid-item {
  width: 180px;
  height: 100px;
  background-color: white;
  border: 1px solid #201f1f17;
  margin: 2em auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}

.grid-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=main.css.map */